@import 'ember-uikit';

/* Colors


$primary: #1e87f0;
$secondary: #222222;

*/

body {
  color: rgb(28, 30, 36);
  background: rgb(244, 246, 248);
  font-family: "Inter var","Inter web",-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0;
}

.ember-application {
  min-height: 100vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.uk-text-white {
  color: #fff;
}

.uk-padding-extra-small {
  padding: 0.5rem;
}

.uk-range {
  &:focus {
    border: 2px solid #222222;
  }

  &:active {
    border: 2px solid #1e87f0;
  }
}

.vertical {
  transform: rotate(270deg);
  width: 40vh;
  margin: 25vh 0;
}

.vertical-current-value {
  margin-left: 6rem;
}

.round {
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
}

.edge-bottom {
  margin-bottom: -1.5rem;
}

.border-none {
  border: none;
}

.border-corners {
  position: relative;
  border: none;

  &:before, &:after {
    content: '';
    width: 2rem;
    height: 2rem;
    display: block;
    background-color: transparent;
    position: absolute;
    border: 2px solid #999;
  }

  &:before {
    top: 0rem;
    left: 0rem;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }

  &:after {
    content: '';
    bottom: 0rem;
    right: 0rem;
    border-left-color: transparent;
    border-top-color: transparent;
  }
}

.responsive-flex-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  .responsive-flex-row-item,
  .responsive-flex-row-item--large {
    margin: 1rem 0;
    width: 100%;
  }
}

.stress-gauge-background {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 4px 5px 5px -5px #222;
}

@media screen and (min-width:720px) {
  .responsive-flex-row {
    flex-direction: row;
    font-size: 1.2rem;

    .responsive-flex-row-item {
      width: 25%;
    }

    .responsive-flex-row-item--large {
      width: 50%;
    }
  }
}
