<section class="uk-position-relative" ...attributes>
  <aside class="stress-gauge-background" style={{this.backgroundStyle}}></aside>
  <Forms::Slider @entry={{this.settings}} @onUpdate={{this.updateForm}} @isVertical={{true}} />
</section>
