<section data-test-forms-uploader ...attributes>
  {{#if this.file}}
    <p data-test-forms-uploader-success-message><span class="uk-text-bold">{{this.file.name}}</span> has been uploaded to your browser's storage.</p>
  {{else}}
    <div class="uk-flex uk-flex-between">
      <label data-test-forms-uploader-instructions for="forms-uploader">Update your entries by uploading your .csv: </label>
      <input type="file" id="forms-uploader" accept="text/csv" onchange={{this.uploadFile}} data-test-forms-uploader-input>
    </div>
  {{/if}}
</section>
