{{page-title "Serenitate | Increase your awareness"}}

<UkSubnav @divider={{true}} class="uk-margin-remove-top uk-padding" as |nav|>
  {{#nav.link-item "index"}}Home{{/nav.link-item}}
  {{#nav.link-item "body-awareness"}}Body awareness{{/nav.link-item}}
</UkSubnav>

<main class="uk-container">
  {{outlet}}
</main>
